.contact-form {
  width: 100%;
  max-width: 330px;
  padding: 16px;
  margin: auto;
  height: 100%;
} 


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
}

.social-links {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}

.social-links i {
  font-size: 3em;
  padding: 16px;
}

.footer-copyright {
  text-align: center;
  margin: 8px;
}