@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

:root {
  --primary-white: #fff;
  --primary-green: #2b6d2bb6;
  --primary-dark: rgba(255, 255, 255, 0)
}

body {
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box;
}

/* Navbar Styling */
.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin: auto 12px;
  border-bottom: 2px solid var(--primary-dark)
}

.navbar-brand {
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:active  {
  border-bottom: 2px solid var(--primary-green);
  color: var(--primary-green);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover, .navbar-brand:hover  {
  border-bottom: 2px solid var(--primary-green);
  color: var(--primary-green) !important;
}

/* About Me Styling */
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 16px;
  border: 1px solid var(--primary-green);
}

.about-heading, .portfolio-heading {
  color: var(--primary-green);
  font-weight: bolder;
}

.about-paragraph {
  color: var(--primary-green);
}

/* Portfolio Styling */

.portfolio-img-wrapper {
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.portfolio-img {
  width: 500px !important;
  height: 300px;
  padding: 0 16px;
  border-radius: 5px;
  border: 2px dotted var(--primary-green);
}

.portfolio-img-box {
 margin: 16px;
 width: 500px !important;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  transition: all .2s ease-in-out; 
}

.portfolio-img-box:hover { 
  transform: scale(1.05); 
}

.portfolio-description-box {
  margin: 16px;
 }



/* Contact Styling */
.contact-form {
  width: 100%;
  max-width: 330px;
  padding: 16px;
  margin: auto;
  height: 100%;
  color: var(--primary-green);
  font-weight: bold;
} 

/* Footer Styling */
.social-links {
  display: flex;
  justify-content: center;
  margin: auto;
}

.footer-copyright {
  text-align: center;
  margin: 8px;
}

/* mobile responsive */
@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}